<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center vh-100">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<canvas #canvas class="overlay-canvas"></canvas>

<div  *ngIf="!isLoading &&initialData">
  <div class="container p-5" *ngIf="initialData">
    <!-- Título del formulario -->
    <h1 class="card-title text-center mb-3">{{ heatMap.title }}</h1>
    <p class="card-text text-center text-muted mb-4">{{ heatMap.description }}</p>

    <!-- Información adicional -->
    <div class="text-center mt-4 mb-5">
      <p class="mb-2"><strong>Número de veces tomado:</strong> {{ heatMap.nTimesTaken }}</p>
      <p><strong>Cantidad de preguntas:</strong> {{ heatMap.questions.length }}</p>
      <p><strong>Tiempo máximo por pregunta:</strong> 2 mins</p>
    </div>

    <!-- Botón Empezar -->
    <div class="d-flex justify-content-center mt-5">
      <button class="btn btn-primary btn-lg px-4" (click)="showHeatMaps()">Ver mapas</button>
    </div>
  </div>
</div>

<div  class="full-screen-container " *ngIf="!isLoading && !initialData">
<!--<div class="full-screen-container d-flex justify-content-center align-items-center" *ngIf="!isLoading">-->
  <div class="container p-5 d-flex flex-column justify-content-between form-container">

<!--    &lt;!&ndash; Pregunta en la parte superior &ndash;&gt;-->
    <div class="question-container text-center">
      <h2>{{ currentQuestion.description }}</h2>

    </div>

    <div class="answers-container d-flex justify-content-center align-items-center">
      <div class="d-flex flex-wrap justify-content-center buttons-container">
        <div  *ngFor="let answer of currentQuestion.answers" class="answer-button-div">
<!--          <div-->
<!--            class="btn btn-outline-primary btn-lg answer-button"-->
<!--            >-->
          <div
            class="custom-btn answer-button"
          >
              {{ answer.description }}
          </div>
        </div>
      </div>
    </div>

    <div class="continue-button-container text-center">
      <button *ngIf="false" class="btn btn-primary btn-lg">Continuar</button>
    </div>

    <div class="footer-container d-flex justify-content-between align-items-center">
      <span class="text-muted">{{ currentQuestionIndex + 1 }}/{{ totalQuestions }}</span>
<!--      <span class="text-muted">Tiempo restante: {{ timerDisplay }}</span>-->
      <div>
        <div class="btn btn-icon" (click)="previousQuestion()">
          <i class="bi-arrow-left"></i>
        </div>
        <div class="btn btn-icon" *ngIf="currentQuestionIndex < totalQuestions - 1" (click)="nextQuestion()">
          <i class="bi-arrow-right"></i>
        </div>
      </div>
    </div>
  </div>
</div>

